<div ng-controller="PartnerViewController as partnerView">
    <md-toolbar style="background-color: white;">
        <div class="md-toolbar-tools" style="height: auto; max-height: inherit">
            <form name="filter-form" style="color: black; width: 100vw" ng-submit="partnerView.applyFilter()">
                <div layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-align="space-around center"
                     style="margin-top: 5px">
                    <div>
                        <label>From Date:</label>
                        <input required type="date" name="formDate" ng-model="partnerView.filterForm.fromDate"
                               min="partnerView.dateToday">
                        <input required type="time" name="fromTime" ng-model="partnerView.filterForm.fromTime"
                               placeholder="HH:mm:ss" min="00:00:00" max="23:59:59"/>
                    </div>
                    <div>
                        <label>To Date:</label>
                        <input required type="date" name="toDate" ng-model="partnerView.filterForm.toDate"
                               min="partnerView.dateToday">
                        <input required type="time" name="toTime" ng-model="partnerView.filterForm.toTime"
                               placeholder="HH:mm:ss" min="00:00:00" max="23:59:59"/>
                    </div>
                    <div>
                        <label> Partner: </label>
                        <select name="selectedPartner"
                                ng-options="partner.name for partner in partnerView.partnerList track by partner.code"
                                ng-model="partnerView.filterForm.selectedPartner"></select>
                    </div>
                    <div>
                        <label> Outcome: </label>
                        <select name="outcome" ng-model="partnerView.filterForm.selectedOutcome">
                            <option value="success">Successful Match</option>
                            <option value="NO_AGENT_FOUND">No Agents Found</option>
                            <option value="INSUFFICIENT_BALANCE">Agents had Insufficient Balance</option>
                            <option value="all">All</option>
                        </select>
                    </div>
                    <div>
                        <md-button type="submit" class="md-raised md-primary">Apply</md-button>
                    </div>

                </div>

            </form>
            <nav id="menu-ui" class="menu-ui">
                <a href="" ng-click="partnerView.agentOnClick()"
                   ng-class="{'agent_marker-cluster': partnerView.agentLayer}">Agents</a>
                <a ng-if="partnerView.showInquiries" href="" ng-click="partnerView.inquiriesOnClick()"
                   ng-class="{'inquiries_marker-cluster': partnerView.inquiriesLayer}">Inquiries</a>
                <a ng-if="partnerView.showInquiries" href="" id="totalAmountInquiriesId">Total Amount:
                    <b>{{partnerView.inquiries.totalAmount}}</b><br><br>
                    Total Inquiries: <b>{{partnerView.inquiries.count}}</b></a>
            </nav>
        </div>
    </md-toolbar>
</div>

<div id="map" style="position: absolute; border: solid 1px; height: 85vh; width: 99vw;"></div>

