<div layout="column" layout-align="center center" data-ng-controller="LoginController as login">
    <div style="display: block; margin-left: auto; margin-right: auto; padding: 55px; margin-top: 10vh">
        <div>
            <img style="height: 100px" src="../../images/novopay_logo_web.png">
        </div>
        <form name="user_login_form" data-ng-submit="login.signIn()">
            <div layout="column">
                <md-input-container>
                   <label style="color: white"> <i class="fa fa-user"></i>&nbsp; User Name</label>
                    <input data-ng-model="login.user.userName" required>
                </md-input-container>
                <md-input-container>
                    <label style="color: white"><i class="fa fa-unlock"></i>&nbsp; Password</label>
                    <input data-ng-model="login.user.pwd" type="password" required>
                </md-input-container>
                <md-button type="submit" class="md-raised" style="background-color: rgba(241, 210, 0, 1)"><i class="fa fa-sign-in"></i>&nbsp;Log In</md-button>
            </div>
        </form>
    </div>

</div>